{% extends "base.html" %}
{% from "macros.html" import render_field %}

{% block title %}Employee Home{%endblock%}

{% block content %}

<div class="container">
<h1>Existing User</h1>
  <form method="POST" action="{{url_for('employee.search')}}">
    <!-- CSRF tag for security --> 
    {{search_form.hidden_tag()}}
    {{ render_field(search_form.identifier, class_="form-control") }}
    {{ search_form.search(class_="form-control") }}
  </form>
</div>

<hr>

<div class="container">
<h1>Create new User</h1>
  <form method="POST" action="{{url_for('employee.create')}}">
    <!-- CSRF tag for security --> 
    {{ signup_form.hidden_tag() }}
    {{ render_field(signup_form.username, class_="form-control") }}
    {{ render_field(signup_form.email, class_="form-control") }}
    {{ render_field(signup_form.password, class_="form-control") }}
    {{ render_field(signup_form.confirm, class_="form-control") }}
    {{ signup_form.submit(class_="form-control") }}
  </form>
</div>


{%endblock%}
