  body {
    font-family: Arial, sans-serif;
    background-color : #f2f2f2;
  }
  /*sign up title*/
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(253, 17, 0, 0.2);
  }
  
  .message{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    background-color: nar(--red);
    color:var(--white);
    font-size: 20px;
  
  }
  .input-group {
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"]{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="password"]:focus{
    border-color: #4CAF50;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .links {
    text-align: center;
  }
  .links a {
    color: #4CAF50;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .links a:hover {
    text-decoration: underline;
  }
  
  
  .form-group a {
    text-align: center;
  }
  
  .form-group img {
    display: block;
    margin: 0 auto;
  }
  
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  form button {
    margin: 0 10px;
  }  